body {
    background-color: burlywood;
}
.container {
    background-color: cornsilk;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    width: 620px;
}
.woman-photo {
    width: 200px;
    height: 180px;
}
#message-input1 {
    height: 150px;
}
#thumbnail {
    width: 200px;
    height: 200px;
    border: 1px;
    border-color: black;
}
.headphones {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}